<div class="row margin-xl-top-bottom" id="catalogTabs">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="col-md-4">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn" ui-sref="classes">Classes</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn"  ui-sref="certifications">Certifications</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn" ui-sref="bundles">Bundles</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>