<div class="row margin-xl-top-bottom">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="col-md-6">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn" ui-sref="homecareIndividual">Individual</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn" ui-sref="homecareFacilities">Facilities</button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>