<div ng-include="'main/homecareTabs.html'"></div>

<div class="row">
  <div class="col-md-12">
    <div class="well padding-70-bottom">
      <h4><strong>Education Designed By Senior Care Experts for Home Healthcare Professionals.</strong></h4>
      <hr>
      <p class="font-larger">
        Mariposa Training is a leading expert in the development of gerontological education for professionals just like YOU -- home health and home healthcare professionals.
      </p>
      <p class="font-larger">
        Our classes touch on hot button topics in home care, while covering a core gerontology curriculum with an emphasis on the “quality of life” of the seniors in our care. Our courses were developed by our senior care experts with years of field experience, including Dr. Keith Savell, our Chief Content Officer, and resident gerontologist.
      </p>
      <a href="#" class="font-larger btn-link">Try A Free Class When You Register With Mariposa Training!</a>
    </div>
  </div>
</div>

<div ng-include="'main/certificationsAndAccreditations.html'"></div>