<div class="well font-larger">
    <h3>Password Recovery</h3>
    <hr>
    <p>If you have forgotten your password, enter your email address, below. You will receive an email with your temporary password. Upon login, you will be asked to enter a new password.</p>
    <div class="margin-lg-top-bottom">
        <div class="alert alert-success" ng-show="success">
          We have sent you an email with instructions. Please, check your inbox.
        </div>
        <div class="alert alert-danger" ng-show="error">
          Email address not found.
        </div>
    </div>
    <form name="passwordRecoveryFrm" ng-submit="requestPassword()">
        <div class="margin-lg-top-bottom form-group">
            <label>Your email address</label>
            <input name="emailAddress" class="form-control" type="email" ng-model="emailAddress" required />
        </div>
        <button class="btn bg-active-btn btn-raised white" type="submit" ng-disabled="!passwordRecoveryFrm.$valid">Request Password</button>
    </form>
</div>