<h4>New student <br> <strong>Sign Up</strong></h4>
<hr>
<div ng-controller="RegisterCtrl">
  <div class="alert alert-danger" ng-show="registerInvalid">
    <strong>An error occurred!</strong>
  </div>
  <form name="registerForm" ng-submit="register()">
  <div class="row margin-md-bottom" ng-show="showErrorMessage">
    <div class="col-md-12">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row margin-md-bottom">
    <div class="form-group label-floating is-empty col-md-6">
      <label for="firstNameTxt" class="control-label">First Name</label>
      <input type="text" class="form-control" id="firstNameTxt" ng-model="info.firstName" required>
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty col-md-6">
      <label for="lastNameTxt" class="control-label">Last Name</label>
      <input type="text" class="form-control" id="lastNameTxt" ng-model="info.lastName" required>
      <span class="material-input"></span>
    </div> 
  </div>
  
  <div class="row">
    <div class="form-group label-floating is-empty col-sm-12">
      <label for="emailNewTxt" class="control-label">Email address</label>
      <input type="email" class="form-control" id="emailNewTxt" ng-model="info.emailAddress" name="emailAddress" required ng-blur="checkEmail(registerForm)">
      <span class="material-input"></span>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group label-floating is-empty col-md-6">
      <label for="passwordNewTxt" class="control-label">Password</label>
      <input type="password" class="form-control" id="passwordNewTxt" ng-model="info.password" ng-minlength="6" required>
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty col-md-6">
      <label for="passwordNewConfTxt" class="control-label">Confirmation</label>
      <input type="password" class="form-control" id="passwordNewConfTxt"  ng-model="passwordConfirmation" match="info.password" required>
      <span class="material-input"></span>
    </div>  
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-raised bg-active-btn white btn-block" type="submit" ng-disabled="registerForm.$invalid || disableBtn" id="signUpBtn">
        <span ng-show="!disableBtn">Sign up</span>
        <span ng-show="disableBtn">Signing up... </span>
        <i ng-show="disableBtn" class="fa fa-spinner fa-spin" style="font-size:24px; color: #ff8000"></i>
        <div class="ripple-container"></div>
      </button>
    </div>
  </div>
  </form>
</div>