<div id="quiz">
  
  <div id="header" class="flexible">
    <div id="logo"  class="full-height right"><img class="full-width full-height" src="<%= image_path 'playerLogo.png' %>"></div>
    <div id="title" class="full-height flexible-body"><h1>{{test.CourseName}}</h1></div>
  </div>
  
  <div class="flexible">
    
    <div id="list" class="animated left padded">
      <div class="nice rounded player-btn" ng-class="{'active': currentQuestionIndex == $index}" ng-repeat="question in questions" ng-click="setCurrentQuestion($index)">
        <i class="fa" ng-class="{'fa-check-square-o': question.ChosenOptionSoid != null, 'fa-square-o': question.ChosenOptionSoid == null}"></i>
        <span class="inline"><span class="question-label">Question</span> {{$index + 1}}</span>
        <i class="fa question-pencil" ng-class="{'fa-pencil': $index == currentQuestionIndex}"></i>
      </div>
    </div>
    
    <div id="question" class="flexible-body padded">
      <p><b>{{questions[currentQuestionIndex].Body}}</b></p>
      <hr>
      <div id="options">
        <div ng-repeat="option in questions[currentQuestionIndex].Options">
          <label class="player-btn">
            <input type="radio" name="answer" value="{{option.Soid}}" 
              ng-model="questions[currentQuestionIndex].ChosenOptionSoid"
              ng-change="setTestAnswer(questions[currentQuestionIndex])">
            {{option.Body}}
          </label>
        </div>  
      </div>
      <hr>
      <div id="controls" class="full-width animated clearfix">
        <div class="left rounded inline nice player-btn" ng-click="nextQuestion()">
          <span>Next</span>
          <i class="fa fa-chevron-right"></i>
        </div>
        <div class="right rounded inline nice player-btn" ng-click="completeQuiz()"
          ng-show="allowCompletion()">
          <span>Complete Test</span>
          <i class="fa fa-check"></i>
        </div>
      </div>
    </div>
    
  </div>
</div>