<!doctype html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>Long Term Care Quality Training & Education - Mariposa</title>
  <meta name="description" content="Mariposa Training is a leading provider of internet-based senior and geriatric healthcare training for administrators, nurses and staff caring for the elderly.">
  <style>
    p {
      font-family: sans-serif;
      font-size: large;
      text-align: center;
    }
    img {
      max-width: 100%;
      padding-top: 20px;
    }
    div {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
  <div>
    <%= image_tag "mariposa_square_1080p.jpg", class: "img-responsive" %>
    <p>
      We are down for maintenance. We are workig to restore service as soon as possible. Please check back soon.
    </p>
  </div>
</body>

</html>
