<div id="subscriptionWell" class="well">
  <h4 class="margin-none-bottom">Get Our Newsletter!</h4>
  <hr>
  <form name="newsletterFrm" ng-submit="subscribeForNewsletter()">
  <div class="row">
    <div class="is-empty col-sm-6 form-group">
      <input type="text" class="form-control" id="subscribeFirstNameTxt" ng-model="newsletterSubscriber.firstName" placeholder="First Name" required>
      <span class="material-input"></span>
    </div>
    <div class="is-empty col-sm-6 form-group">
      <input type="text" class="form-control" id="subscribeLastNameTxt" ng-model="newsletterSubscriber.lastName" placeholder="Last Name" required>
      <span class="material-input"></span>
    </div>
  </div>

  <div class="row">
    <div class="is-empty col-sm-12 form-group">
      <input type="email" class="form-control" id="subscribeEmailTxt" ng-model="newsletterSubscriber.emailAddress" placeholder="Email Address" required>
      <span class="material-input"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-raised bg-active-btn white btn-block " id="submitInfoBtn" type="submit" ng-disabled="!newsletterFrm.$valid">
        Submit Information
        <div class="ripple-container"></div>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <i class="material-icons green" ng-show="subscriptionMessage.ok">check_circle</i>
      <i class="material-icons darkred" ng-show="!subscriptionMessage.ok && subscriptionMessage">cancel</i>
    </div>
    <div class="col-xs-10">
      {{subscriptionMessage.text}}
    </div>
  </div>
  </form>

</div>