<div ng-include="'account/accountTabs.html'"></div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p ng-show="Session.member.CountInQueue == 0" class="font-larger">You do not have any new courses.</p>
            <div ng-show="Account.items.inQueue.length < Session.member.CountInQueue" class="margin-xl-top-bottom text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:24px; color: #ff8000"></i>
            </div>
            <div class="list-group">
              <div ng-repeat="c in Account.items.inQueue track by $index" class="list-group-item padding-none margin-md-bottom">
                <div class="row-picture vertical-align-top">
                  <img class="list-item-icon-larger pointer-cursor" ng-src="{{c.CourseObject.thumbSrc}}" alt="icon">
                </div>
                <div class="row-content">
                  <h4 class="list-group-item-heading pointer-cursor">
                      <span ui-sref="classDescription({Soid: c.CourseSoid})">{{c.CourseName}}</span>
                      <button class="btn btn-sm bg-watch-btn btn-raised white pull-right margin-md" ng-click="playLecture(c)">Watch</button>
                  </h4>
                  <div class="list-group-item-text">
                    <div class="display-inline-block padding-md"><span>{{c.CourseObject.CeuCount}}</span> CEU</div>
                    <div class="display-inline-block padding-md">Length: <span>{{c.CourseObject.Length}}</span> minutes</div>
                    <div class="display-inline-block padding-md">Author: <span>{{c.CourseObject.InstructorName}}</span></div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="studentInfo" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header font-larger padding-md-top">
                To help us better customize your experience, please answer a few more questions.
                <button type="button" class="close pull-right margin-sm" ng-click="closeModal()">&times;</button>
            </div>
            <div class="modal-body font-larger padding-md">
                <p>What is your student type?</p>
                <div class="form-group">
                    <select ng-model="studentType" class="form-control" ng-options="st.Soid as st.Name for st in studentTypes">
                        <option value="">-- select --</option>
                    </select>
                </div>
                <p>In which State are you licensed? <span class="dark-red">(mandatory)</span></p>
                <div class="form-group">
                    <select ng-model="licenseState" class="form-control">
                        <option value="">-- select --</option>
                        <option value="XX">I am not licensed</option>
                        <option ng-repeat="s in US_STATES.vals" value="{{s.value}}">{{s.name}}</option>
                    </select>
                </div>
                <p>When is your license renewal due?</p>
                <div class="form-group">
                    <util-date ng-model="licenseRenewalDate"></util-date>
                </div>
                <p>What is your time zone?</p>
                <div class="form-group">
                    <select ng-model="timeZone" class="form-control">
                        <option value="">-- select --</option>
                        <option ng-repeat="t in TIME_ZONES.vals" value="{{t.value}}">{{t.label}}</option>
                    </select>
                </div>
                <p>Do you have a Facility Code?</p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="checkbox">
                          <label class="dark-grey">
                            <input type="checkbox" ng-model="showFacilitySoid"><span class="checkbox-material"><span class="check"></span></span> Yes
                          </label>
                        </div>
                    </div>
                    <div class="col-md-9" ng-show="showFacilitySoid">
                        <div class="col-md-5 padding-md-top">
                            Facility Code
                        </div>
                        <div class="col-md-7">
                            <input type="text" ng-model="facilityCode" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-success btn-raised" ng-click="submitAdditionalInfo()" ng-disabled='!licenseState'>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stateInfo" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-right">
                <button type="button" class="close" ng-click="closeModal()">&times;</button>
            </div>
            <div class="modal-body font-larger">
                <p>Before you may proceeed, it will be necessary that you provide the State in which you will submit your CEUs.
                This is a requirement established by the certification bodies.</p>
                <div class="row form-group">
                    <div class="col-sm-2 padding-md-top">
                        State
                    </div>
                    <div class="col-sm-6">
                        <select ng-model="state" class="form-control">
                            <option value="">-- select --</option>
                            <option value="XX">I am not licensed</option>
                            <option ng-repeat="s in US_STATES.vals" value="{{s.value}}">{{s.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-success btn-raised" ng-click="saveState()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>