body nav.navbar.navbar-default{
  background: #203341;
}

.bg-account-small-btn, .bg-account-small-btn:focus,  .bg-account-small-btn:active,  .bg-account-small-btn:hover,
.btn:not(.btn-raised):not(.btn-link).bg-account-small-btn:focus, .btn:not(.btn-raised):not(.btn-link).bg-account-small-btn:hover{
    background-color: #9fa3ce;
}

.bg-black{
    background: black;
}

.bg-darkblue{
    background: #203341;
}

.bg-green{
    background: #457706;
}

.bg-buy-btn, .bundle.well .btn.btn-sm.bg-buy-btn:focus, .bundle.well .btn.btn-sm.bg-buy-btn:active, .bundle.well .btn.btn-sm.bg-buy-btn:hover{
    background: #48b01d;
}

.bg-orange, .btn:not(.btn-raised):not(.btn-link).bg-orange:focus, .btn:not(.btn-raised):not(.btn-link).bg-orange:hover{
    background: #ff8000;
}

.bg-active-btn{
    background: #ea542b;
}

.bg-deactivate-btn, .btn.btn-raised.bg-deactivate-btn:focus, .btn.btn-raised.bg-deactivate-btn:active, .btn.btn-raised.bg-deactivate-btn, .btn.btn-raised:not(.btn-link).bg-deactivate-btn:hover{
    background: Orange;
}

.bg-edit-btn, .btn.btn-raised.bg-edit-btn:focus, .btn.btn-raised.bg-edit-btn:active, .btn.btn-raised.bg-edit-btn, .btn.btn-raised:not(.btn-link).bg-edit-btn:hover{
    background: #9fa3ce;
}

.bg-print-btn, .btn.btn-raised.bg-print-btn:focus, .btn.btn-raised.bg-print-btn:active, .btn.btn-raised.bg-print-btn, .btn.btn-raised:not(.btn-link).bg-print-btn:hover{
    background: rgba(0, 64, 128, 1.0);
}

.bg-purple, .btn:not(.btn-raised):not(.btn-link).bg-purple:focus, .btn:not(.btn-raised):not(.btn-link).bg-purple:active{
    background: #800080;
}

.bg-revoke-btn, .btn.btn-raised.bg-revoke-btn:focus, .btn.btn-raised.bg-revoke-btn:active, .btn.btn-raised.bg-revoke-btn, .btn.btn-raised:not(.btn-link).bg-revoke-btn:hover{
    background: navy;
}

.bg-send-password-btn, .btn.btn-raised.bg-send-password-btn:focus, .btn.btn-raised.bg-send-password-btn:active, .btn.btn-raised.bg-send-password-btn, .btn.btn-raised:not(.btn-link).bg-send-password-btn:hover{
    background: green;
}

.bg-test-btn, .btn.btn-raised.bg-test-btn:focus, .btn.btn-raised.bg-test-btn:active, .btn.btn-raised.bg-test-btn, .btn.btn-raised:not(.btn-link).bg-test-btn:hover{
    background-color: rgba(196, 0, 0, 1.0);
}

.bg-watch-btn, .btn.btn-raised.bg-watch-btn:focus, .btn.btn-raised.bg-watch-btn:active, .btn.btn-raised.bg-watch-btn, .btn.btn-raised:not(.btn-link).bg-watch-btn:hover{
    background: rgba(70, 130, 180, 1.0);
}

.bg-white{
    background: white;
}

.bold, body .container .well p.bold{
    font-weight: bold;
}

.btn-empty{
    border: 0px;
    background: transparent;
}

.card-image img{
    height: 80px;
    padding: 10px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.certification-image, .table .certification-image{
    background: #ac66d5;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
    min-width: 120px;
}

.dark-blue{
    color: #203341;
}

.dark-grey, .form-group .checkbox label.dark-grey{
    color: #333;
}

.dark-red{
    color: #8B0000;
}

.details.visible{
    display: block;
    padding: 10px;
}

.details .col-sm-12{
    background: #EDEDED;
    color: black;
    border: 1px dashed lightgrey;
}

.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block;
}

.display-none{
    display: none;
}

.display-table{
    display: table;
}

.facility-name-container{
    background: #EDEDED;
    border: 1px solid lightgray;
    padding: 8px;
}

.float-right{
    float: right;
}

.font-12{
    font-size: 12px;
}

.font-15{
    font-size: 15px;
}

.font-16{
    font-size: 16px;
}

.font-17{
    font-size: 17px;
}

.font-19{
    font-size: 19px;
}

.font-30{
    font-size: 30px;
}

.font-large{
    font-size: large;
}

.font-larger{
    font-size: larger;
}

.font-x-large{
    font-size: x-large;
}

.font-xx-large{
    font-size: xx-large;
}

.font-weight-400{
    font-weight: 400;
}

.footer{
    position: fixed;
    bottom: 0;
    background: #203341;
    color: white;
    width: 100%;
    padding: 10px;
}

#freeClassWell .form-group, #subscriptionWell .form-group{
    margin: 0px;
    padding-bottom: 3px;
}

.green{
    color: green;
}

.height100{
    min-height: 100px;
}

.height260{
    min-height: 260px;
}

.material-icons.in-button{
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.info-blue{
    color: #1874CD;
}

.link-blue{
    color: #009688;
}

.logo{
    max-width: 250px;
    width: 100%;
}

.margin-28-top{
    margin-top: 28px;
}

.margin-40-bottom{
    margin-bottom: 40px;
}

.margin-lg{
    margin: 15px;
}

.margin-lg-top-bottom{
    margin-bottom: 15px;
    margin-top: 15px;
}

.margin-lg-left{
    margin-left: 45px;
}

.margin-lg-right{
    margin-right: 45px;
}

.margin-md{
    margin: 10px;
}

.margin-md-bottom{
    margin-bottom: 10px;
}

.margin-md-left{
    margin-left: 10px;
}

.margin-md-right{
    margin-right: 10px;
}

.margin-md-left-p{
    margin-left: 10%;
}

.margin-md-right-p{
    margin-right: 10%;
}

.margin-md-top-bottom{
    margin-bottom: 10px;
    margin-top: 10px;
}

.margin-md-top{
    margin-top: 10px;
}

.margin-none-bottom{
    margin-bottom: 0;
}

.margin-none-top{
    margin-top: 0;
}

.margin-none-top-bottom{
    margin-top: 0;
    margin-bottom: 0;
}

.margin-sm-top{
    margin-top: 5px;
}

.margin-sm{
    margin: 5px;
}

.margin-xl-bottom{
    margin-bottom: 20px;
}

.margin-xl-top{
    margin-top: 20px;
}

.margin-xl-top-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-xxl-bottom{
    margin-bottom: 70px;
}

.margin-md-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.max-width-300{
    max-width: 300px;
}

.padding-50-left{
    padding-left: 50px;
}

.padding-70-bottom, .row .well.padding-70-bottom{
    padding-bottom: 70px;
}

.padding-lg{
    padding: 18px;
}

.padding-lg-bottom{
    padding-bottom: 18px;
}

.padding-lg-left{
    padding-left: 18px;
}

.padding-lg-right{
    padding-right: 18px;
}

.padding-lg-top{
    padding-top: 18px;
}

.padding-md{
    padding: 10px;
}

.padding-md-left{
    padding-left: 10px;
}

.padding-md-top{
    padding-top: 10px;
}

.padding-none, .list-group-item.padding-none{
    padding: 0px;
}

.padding-none-left{
    padding-left: 0;
}

.padding-none-right{
    padding-right: 0;
}

.padding-sm{
    padding: 5px;
}

.padding-xl{
    padding: 20px;
}

.padding-xs{
    padding: 4px;
}

.password-container{
    background: #EDEDED;
    border: 1px dashed gray;
}

.password-container > label{
    color: black;
}

.pointer-cursor{
    cursor: pointer;
}

#sign-dialog .col-sm-7{
    border-left: 1px solid #eee;
}

#sign-dialog .row{
    padding-top: 10px;
}

#studentInfo > .modal-dialog{
    overflow-y: auto;
    max-height: 85%;
}

#studentInfo .form-group{
    margin: 0px;
}

#studentInfo > .modal-dialog > .modal-content > .modal-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

#studentInfo p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.students-container{
    border: 1px solid grey;
    padding: 10px;
}

.students-container .checkbox label{
    color: rgb(51, 51, 51);
}

.type-row{
    background: lightgray;
}

.vertical-align-middle, .material-icons.vertical-align-middle, .table-responsive .table.vertical-align-middle td{
    vertical-align: middle;
}

.vertical-align-top, .row-picture.vertical-align-top, .row-action-primary.vertical-align-top{
    vertical-align: top;
}

.white, .white:focus, .white:visited, .white:active, .bg-active-btn.white, 
.bg-buy-btn.white, .bg-watch-btn.white, .bg-test-btn.white, .bg-print-btn.white,
.bg-edit-btn.white, .bg-revoke-btn.white, .bg-send-password-btn.white,
.bg-account-small-btn.white,
.bg-purple.white, .bg-orange.white, .footer a.white:hover, .footer a.white:active{
    color: white;
}

.width100-p{
    width: 100%;
}

.width50-p{
    width: 50%;
}

.width45-p{
    width: 45%;
}

body>.container>.row:last-child{
    margin-bottom: 20px;
}

.navbar-header > button {
    margin-right: 10px;
}

.navbar-right {
    margin-right: 0;
}

.navbar-nav {
    margin: 7px 0;
}

.nowrap{
    white-space: nowrap;
    overflow: hidden;
}

.container .bg-active-btn, .container .btn.btn-raised:not(.btn-link).bg-active-btn:focus, .container .btn.btn-raised:not(.btn-link).bg-active-btn:hover,
.modal-body .bg-active-btn, .modal-body .bg-active-btn:hover, .modal-body .btn.btn-raised:not(.btn-link).bg-active-btn:hover,
.modal-body .btn.btn-raised:not(.btn-link).bg-active-btn:focus
{
    background: #ea542b;
}

.scrollable{
    max-height: 100%;
    overflow-y: auto;
}

.searchlist-pagination.pagination {
    margin: 10px 0;
}

.searchlist-pagination li>a{
    color: rgba(0,0,0,.77);
}

#scheduleStudent .modal-content{
    background: #EDEDED;
}

#scheduleStudent .modal-dialog{
    height: 85%;
}

#scheduleStudent .modal-content{
    height: 100%;
    padding: 20px 0;
}

/******* Eventbrite ******************/

div.Description{
    display: none;
}

.Event.ToggleGroup{
    padding-left: 5px;
    padding-right: 5px;
}

.Time{
    font-weight: bold;
    color: grey;
}

.Venue{
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Title{
    font-size: medium;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;
}

.Toggle.Collapsed{
    display: inline-block;
    vertical-align: middle;
}

.Toggle.Collapsed i{
    color: green;
    background: white;
    border-radius: 50px;
}

.Title a{
    background: #ff8000;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 2px;
}

.Title a:hover, .Title a:focus, .Title a:visited, .Title a:active{
    color: white;
    text-decoration: none;
}

.Description.visible{
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down{
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.payment-info label{
    color: gray;
}

.preview-row{
    padding: 10px;
    border-radius: 2px;
    background: lightgray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    color: black;
    font-size: larger;
}

#signOutRgba, #checkoutRgba{
    color: rgba(255, 255, 255, 0.843137)!important;
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

#cartDialog{
    min-height: 100px;
    z-index: 5000;
    background: #FFF;
    position: fixed;
    height: auto;
    top: 60px;
    left: 20%;
    padding-top: 10px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    width: 65%;
    max-width: 550px;
    max-height: 600px;
    overflow-y: auto;
}

#cartDialog .item-image{
    background: #ac66d5;
    color: white;
    font-size: x-large;
    border-radius: 5px;
    height: 70px;
    padding-top: 15px;
    text-align: center;
}

#totalCartDialog{
    padding-bottom: 10px;
    padding-right: 25px;
    background: lightgray;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check:before{
    color: green;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check{
    color: green;
    border-color: green;
}

@media(min-width: 991px){
    .equal-height-children > div > div {
        min-height: 280px;
    }
}