<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h3 class="margin-40-bottom"><strong>FAQ</strong></h3>
      <div class="margin-40-bottom">
        <h4><strong>Can I really train everyone in my facility for one price?</strong></h4>
        <p class="font-larger">Yes. If you buy the Unlimited Training Package for a facility anyone registered within your facility can have unlimited access to the site.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>Are unlimited CEUs really included?</strong></h4>
        <p class="font-larger">Yes, CEUs are included in our Unlimited Training package. If your facility or company does not have the Unlimited Training package, then you can purchase individual CEUs for $15 or CEU packages at reduced prices.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>What kind of CEUs do you offer?</strong></h4>
        <p class="font-larger">All our courses include NAB (NHA/RCAL), NHAP, RCFE/ARF, and California BRN (most states provide reciprocation).</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>What about Social Work CEUs?</strong></h4>
        <p class="font-larger">We do not yet offer social work CEUs, though we plan to in the future.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>How much is the Unlimited Training Offer?</strong></h4>
        <p class="font-larger">It is $189/month per facility OR $49/month per individual.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>Do I have to have a computer?</strong></h4>
        <p class="font-larger">You must have access to an internet connected computer as our classes are delivered through a web browser. You must also have speakers on your computer. Most computers built within the last 5 years have speakers built in.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>How long are your classes?</strong></h4>
        <p class="font-larger">They are typically one hour.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>Do I need to take a test to prove I attended a class?</strong></h4>
        <p class="font-larger">If you take an On Demand class, you must take a test to verify your attendance. If you take a live class, we must only verify your attendance through sign in.</p>
      </div>  
      <div class="margin-40-bottom">
        <h4><strong>How do I register?</strong></h4>
        <p class="font-larger">Search the classes and offer tabs to find a package you want to purchase? If you decide to purchase, you will register for the site during the purchase process. You can also call us at <strong>888-852-3888</strong></p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>Is it safe to use my credit card?</strong></h4>
        <p class="font-larger">Yes. We understand how important security is to our customers. When you place your order online, the most advanced consumer online security technique to date is used to protect you and your credit card information. You can be assured that your order will be placed safely and securely.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>What if I am still not comfortable placing my order online?</strong></h4>
        <p class="font-larger">You can reach us at <strong>888-852-3888</strong> and we will be happy to complete your order over the phone for you.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>How will I know that my order went through?</strong></h4>
        <p class="font-larger">When your order has been successfully submitted, you will immediately see a "Thank You" page that provides you with your order confirmation number. You will also receive a confirmation email shortly after you place your order. This will contain all the details about this order.</p>
        <p class="font-larger">If you do not receive an email confirming your order within 24 hours of submission, please contact us at support@mariposatraining.com.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>How do I check on an order I have placed?</strong></h4>
        <p class="font-larger">In the MY ACCOUNT section of our website, you can pull up your order using either the Order # or your email address and billing zip. This is the easiest and fastest way to get the most current information regarding your orders.</p>
      </div>
      <div class="margin-40-bottom">
        <h4><strong>Does anyone else see the information that I provide to MariposaTraining.com?</strong></h4>
        <p class="font-larger">We respect your privacy. We do not sell, rent or license any of our customers' personal information. The information you provide will not be given to any third party. For more information, please see our privacy policy.</p>
      </div>
    </div>
  </div>
</div>