<div class="row margin-xl-top-bottom">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="col-md-5">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn" ui-sref="students">Students</button>
    </div>
    <div class="col-md-5">
      <button class="btn btn-block btn-raised white" ui-sref-active="bg-active-btn"  ui-sref="courseAssignments">Course Assignments</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>