<div ng-include="'management/managementTabs.html'"></div>

<div class="margin-xl-top-bottom well">
    <button class="margin-lg-top-bottom btn btn-raised btn-default" ng-click="addStudentVisible = true">Add Student</button>
    <div add-student visible="addStudentVisible" ng-show="addStudentVisible"></div>
    <div ng-show="Session.userRoles.includes(USER_ROLES.manager) && Management.facilitiesLoaded">
        <h2>Facilties</h2>
        <div class="row" ng-show="Management.facilities.length > 10">
            <div class="col-sm-6 padding-md">
                Show     
                <select ng-model="numPerPage" ng-options="value for value in numsPerPage"></select>
                facilities per page
            </div>
            <div class="col-sm-6 text-right" ng-show="pagesNumber > 1">
                <ul class="pagination searchlist-pagination">
                  <li><a ng-click="updatePage(-1)" class="pointer-cursor">Previous</a></li>
                  <li><a>{{currentPage}} / {{pagesNumber}}</a></li>
                  <li><a ng-click="updatePage(1)" class="pointer-cursor">Next</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="margin-xl-top-bottom">
            <div class="margin-xl-top-bottom padding-sm" ng-repeat="f in displayedFacilities">
                <div class="facility-name-container font-larger">{{::f.Name}}</div>
                <div class="margin-md-top-bottom font-larger">{{f.Students.length}} <span ng-if="f.Students.length == 1">student</span><span ng-if="f.Students.length != 1">students</span> 
                    <a ng-click="adaptActiveStudents($index)" class="pointer-cursor">
                        <span ng-show="showActiveStudents[$index]">hide</span>
                        <span ng-show="!showActiveStudents[$index]">show</span>
                    </a>
                </div>
                <div students-list students="f.Students" num-per-page="1100" facility-index="$index" facility="f" ng-if="showActiveStudents[$index]"></div>
                <p class="font-larger margin-md-top margin-lg-bottom">Dropped Students ({{f.Dropped.length}}) 
                <a ng-click="adaptDroppedStudents($index)" class="pointer-cursor">
                    <span ng-show="showDropped[$index]">hide</span>
                    <span ng-show="!showDropped[$index]">show</span>
                </a></p>
                <div class="margin-md-top-bottom" ng-show="showDropped[$index]" ng-if="f.Dropped.length > 0">
                    <div class="margin-md row" ng-repeat="ds in f.Dropped">
                        <div class="col-sm-10">
                            <p>{{::ds.CreatedOn}}</p>
                            <p>{{::ds.FullName}} (<a href="mailto:{{ds.Email}}">{{::ds.EmailAddress}}</a>) </p>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button class="btn btn-raised btn-sm" ng-click="recover(ds.Soid, f.Soid)">recover</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="pagesNumber > 1">
          <div class="col-sm-12 text-right">
            <ul class="pagination searchlist-pagination">
              <li><a ng-click="updatePage(-1)" class="pointer-cursor">Previous</a></li>
              <li><a>{{currentPage}} / {{pagesNumber}}</a></li>
              <li><a ng-click="updatePage(1)" class="pointer-cursor">Next</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div ng-show="Session.userRoles.includes(USER_ROLES.manager) && !Management.facilitiesLoaded" class="padding-md text-center">
        <i class="fa fa-spinner fa-spin" style="font-size:24px; color: #ff8000"></i>
    </div>
</div>